/*** selector universal ***/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 18px;
    background-color: aliceblue;
}

/** Encabezado **/

.header{
    background-color: blueviolet;
    text-align: center;
    padding: 5px;
}

.header-title{
    color:aliceblue;
    padding: 20px 0;
    text-transform: uppercase;
}

.header-description{
    color:aliceblue;
    padding: 10px 0;
}

/** Respuesta **/

.answer{
    text-align: center;
    padding: 10px 0;
}

.answer p{
    font-size: 25px;
    font-weight: bold;
}

/** Figuras **/



.figures{
    width:90%;
    margin:auto;
    padding: 10px;
    overflow: hidden;
    max-width: 1000px;
}

/** Cajas **/

.box{
    width: 30%;
    height: 600px;
    border: 3px solid blueviolet;
    border-radius: 10px;
    margin: 15px;
    float: left;
}

/** Encabezado y Main de Cajas **/

.box-header{
    background-color:blueviolet;
    text-align: center;
    padding: 15px 0;
    color: aliceblue;
}

.box-main{
    text-align: center;
    padding: 10px;
}

/** Subclases **/

.box-main__text{
    font-size: 20px;
    font-weight: bold;
}

.box-main__input{
    height:40px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: blueviolet;
    border: solid blueviolet;
    border-radius: 5px;
}

.box-main__btn{
    background-color: blueviolet;
    color:aliceblue;
    width: 120px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    border-style: none;
    border-radius: 10px;
}

/** Seudo Clases **/

.box-main__btn:hover{
    background-color: #7a21e9;
    cursor: pointer;
}

.box-main__btn:active{
background-color: #7a21e9;
}

/** Media web responsive **/

@media screen and (max-width: 1021px) {
    .figures{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .figures{
        width: 100%;
    }

    .box{
        margin: 10px;
    }
}

@media screen and (max-width: 640px) {
    .box{
        width: 90%;
        margin: 25px;
        height: auto;
    }
}

@media screen and (max-width: 360px) {
    .box{
        width: 90%;
        margin: 20px;
        height: auto;
    }
    .header-title{
        font-size: 25px;
    }
    .answer p{
        font-size: 20px;
    }

}
